<nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="#">
            <img src="assets/icono.png" width="30" height="30" alt="" loading="lazy"> Mountpic
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link active" routerLink="">Home</a>
            <a class="nav-item nav-link" routerLink="/photos">Mis fotos</a>
            <a class="nav-item nav-link" routerLink="/photos/new">Nueva foto</a>
            
          </div>
        </div>
  </nav>